// SIZE CONTROL VARS
$size-control-placeholder: 530px;
$banner-height: 350px; // Banners
$site-menu-width-control: 101px; // Site menu
$menu-list-icons-width: 35px;
$mobile-navbar-height: 56px; // Mobile header
$user-card-height: 42px; // User cards
$user-card-width: 70px;

html,
body {
	background-color: $body-bg;	
	&::-webkit-scrollbar { 
    display: none; 
	}
}

.site-wrapper,
.site-content {
	position: relative;
}
.content-border{
	border: 1px solid #ccc;
  padding: 30px 17px;
  height: 179px;
  width: 378px;
}
.image-content-espacio-fisico > img,
.logo-sponsors-home > img,
.content-img-portafolio-grid > img,
.content-img-blog > img {
	width: 100%;
}
.input-form-postulacion{
  height: 42px;
  width: 100%;
}
.input-message{
  height: 152px;
  width: 100%;
}
.button-send-size-postulacion{
  height: 39px;
  width: 19%;
}
.button-border{
  border: 1px solid gray;
  height: 45px;
  width: 214px;
}
.content-text-blog-border{
  border: 1px solid #ccc;
  height: 185px;
  padding: 4%;
}
.user-picture > img {
    border-radius: 50%;
}
.pagination-custom{
  border: 1px solid white!important;
  margin-left: 0 !important;
  &:hover{
    border: 1px solid $brand-primary !important;
    background-color: white !important;
    color: $brand-primary;
  }
}
/*FOOTER STYLE*/
.footer .site-map .container > ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 12px;
}
.col-sm-2 > ul > li  {
  padding-bottom: 9px;
  font-weight: 100;
}