// SIZE CONTROL VARS
$size-control-placeholder: 530px;
$banner-height: 350px; // Banners
$site-menu-width-control: 101px; // Site menu
$menu-list-icons-width: 35px;
$mobile-navbar-height: 56px; // Mobile header
$user-card-height: 42px; // User cards
$user-card-width: 70px;

html,
body {
	background-color: $body-bg;	
	&::-webkit-scrollbar { 
    display: none; 
	}
}
.site-wrapper,
.site-content {
	position: relative;
}
/*FONT SIZES*/
.font-s-13{
  font-size: 13px;
}
.font-s-16{
  font-size: 16px;
}
.font-s-18{
  font-size: 18px;
}
.font-s-20{
  font-size: 20px;
}
/*CONTENT STYLES*/
.logo-sponsors-home-color > img,
.image-content-espacio-fisico > img,
.logo-sponsors-home > img,
.content-img-portafolio-grid > img,
.content-img-blog > img {
  width: 100%;
}
.content-border{
  border: 1px solid #ccc;
  padding: 30px 17px;
  height: 179px;
  width: 356px;
}
.content-text-blog-border{
  border: 1px solid #ccc;
  height: 250px;
  // padding: 4%;
  &:hover{
    background-color:#FBFBFB;
    transition: 0.3s all ease-in-out;
  }
}
.bg-img-block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}
/*PICTURE CUSTOM ACTORS*/
.user-picture > img {
    border-radius: 50%;
}
/*PAGINATION CUSTOM*/
.pagination-custom{
  border: 1px solid white!important;
  margin-left: 0 !important;
  &:hover{
    border: 1px solid $brand-primary !important;
    background-color: white !important;
    color: $brand-primary;
    transition: 0.3s all ease-in-out; 
  }
}
/*UPPERCASE*/
.uppercase{
  text-transform: uppercase;
}
/*BUTTONS STYLES*/
.button-participar{
  width: 18%;
}
.button-cta{
  height: 39px;
  width: 19%;
}
.button-border{
  border: 1px solid gray;
  height: 45px;
  width: 214px;
}

/*INPUT STYLE*/
.input-form-postulacion{
  height: 42px;
  width: 100%;
}
.input-message{
  height: 152px;
  width: 100%;
}
/*FOOTER STYLE*/
.footer .site-map .container > ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 12px;
}
.col-sm-2 > ul > li  {
  padding-bottom: 9px;
  font-weight: 100;
}
/*OPACITY IMG*/
.op-rgba{
  background-color:black; 
  opacity: 0.1;
}
/*SPONSORS FUNCTION*/
.logo-sponsors-home{
  img{
    opacity: 0.8;
  }
}
.logo-sponsors-home {
  img{
    filter: url('#grayscale');
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: Gray();
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover{
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: none;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
}
/*RESPONSIVE*/
@media screen and (max-width:$screen-phone) {
  .hero-unit{
    h2{
      position: relative;
      bottom: 70px;
    }
    .button-participar {
      width: 50%;
      position: relative;
      bottom: 40px;
    }
  }
  .content-responsive{
    h3{
      font-size: 23px;
      position: relative;
      bottom: 10px;
    }
    .subtitle-res{
      padding-left: 15px;
      padding-right: 15px;
      font-size: 18px;
      padding-top: 15px;
    }
    .row{
      margin-left: 0;
      margin-right: 0;
    }
    .content-border{
      border: 1px solid #ccc;
      padding: 30px 17px;
      height: 200px;
      width: 320px;
      position: relative;
      left: 8px;
      h4{
        font-size: 17px;
      }
      p{
        font-size: 13px;
      }
      a{
        font-size: 16px;
       }
     }
    } 
    .site-portafolio{
      @include flex-row-center;
      text-align: center;
      .content-img-portafolio-grid > img {
        width: 75%;
        padding-top: 15px;
      }
      .text-content-portafolio{
        text-align: center !important;
        padding-left: 30px;
        padding-right: 30px;
        h3{
          font-size: 25px;
        }
        h4{
          font-size: 17px;
        }
        span{
          font-size: 13px;
        }
        a{
          font-size: 16px;
        }
      }
    }
    .site-blog{
      padding-left: 30px;
      padding-right: 30px;
      text-align: center !important;
      h2{
        font-size: 20px;
        color : $brand-primary;
      }
      .bg-img-block{
        background-position: center center;
        height: 250px;
        padding-top:12px ; 
      }
      .content-text-blog-border{
        margin-top: 0 !important;
        padding-left:0;
        padding-top:0;
        p{
          font-size: 12px;
        }
      }
    }
    .section-sponsors{
      .logo-sponsors-home{
        text-align: center;
        img{
          width: 50%;
        }
      }
    }
    .hero-end{
      .container-md{
        padding-left: 30px;
        padding-right: 30px;
      }
    }
}
// @media screen and (max-width:$screen-tablet) {
//   .title-header-responsive{
//     position: relative;
//     bottom: 70px;
//     width: 260px;
//     left: 38px;
//     }
//   .content-responsive{
//     h3{
//       font-size: 23px;
//       position: relative;
//       bottom: 10px;
//     }
//     .subtitle-res{
//       padding-left: 15px;
//       padding-right: 15px;
//       font-size: 18px;
//       padding-top: 15px;
//     }
//     .content-border{
//       border: 1px solid #ccc;
//       padding: 30px 17px;
//       height: 200px;
//       width: 320px;
//       position: relative;
//       left: 37px;
//     }
//   }
//   .btn , .btn-lg {
//     width: 50%;
//     position: relative;
//     bottom: 40px;
//   }  
// }
// @media screen and (max-width:1025px){

// }
// @media screen and (max-width:1309px){

// }