/*
Error: Invalid CSS after "...height: 509px; ": expected "}", was "!important;"
        on line 371 of src/scss/EBM/modules/_ebm-global.scss
        from line 24 of src/scss/style.scss

366:     }
367:     .overlay{
368:       position: absolute;
369:       left: 0;
370:       width: 100%;
371:       height: 509px; !important;
372:       z-index: 10;
373:       background-color: rgba(0,0,0,0.4); /*dim the background*\/
374:     }
375:     .line{
376:       border-top: 1px solid #323232;

Backtrace:
src/scss/EBM/modules/_ebm-global.scss:371
src/scss/style.scss:24
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:1163:in `expected'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:1099:in `expected'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:1094:in `tok!'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:643:in `block'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:661:in `block_child'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:653:in `block_contents'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:642:in `block'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:401:in `media_directive'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:219:in `special_directive'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:194:in `directive'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:660:in `block_child'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:653:in `block_contents'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:117:in `stylesheet'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/scss/parser.rb:42:in `parse'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/engine.rb:393:in `_to_tree'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/engine.rb:299:in `to_tree'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/stack.rb:88:in `block in with_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/stack.rb:88:in `with_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/stack.rb:79:in `with_base'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `map'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:157:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/root_node.rb:36:in `css_tree'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/engine.rb:368:in `_render_with_sourcemap'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/engine.rb:285:in `render_with_sourcemap'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/exec/sass_scss.rb:396:in `run'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/exec/sass_scss.rb:62:in `process_result'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/exec/base.rb:52:in `parse'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/lib/sass/exec/base.rb:19:in `parse!'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.4.8/bin/sass:13:in `<top (required)>'
c:/Ruby200/bin/sass:23:in `load'
c:/Ruby200/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...height: 509px; \": expected \"}\", was \"!important;\"\A         on line 371 of src/scss/EBM/modules/_ebm-global.scss\A         from line 24 of src/scss/style.scss\A \A 366:     }\A 367:     .overlay{\A 368:       position: absolute;\A 369:       left: 0;\A 370:       width: 100%;\A 371:       height: 509px; !important;\A 372:       z-index: 10;\A 373:       background-color: rgba(0,0,0,0.4); /*dim the background*/\A 374:     }\A 375:     .line{\A 376:       border-top: 1px solid #323232;"; }
